* {
    box-sizing: border-box
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    background-color: black;
    margin-top: 25px;

}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-bottom: solid black;
    border-left: solid black;
    cursor: pointer;
}
.button {
    margin-top: 25px;
    cursor: pointer;
}

.X::before {
    content: "X";
    font-size: 300px;
    font-weight: bold;
}
.O::before {
    content: "O";
    font-size: 300px;
    font-weight: bold;
}